@font-face {
  font-family: 'iconfont';  /* project id 2114725 */
  src: url('//at.alicdn.com/t/font_2114725_fmz311pnfn.eot');
  src: url('//at.alicdn.com/t/font_2114725_fmz311pnfn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2114725_fmz311pnfn.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2114725_fmz311pnfn.woff') format('woff'),
  url('//at.alicdn.com/t/font_2114725_fmz311pnfn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2114725_fmz311pnfn.svg#iconfont') format('svg');
}

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .icon-more:before {
    content: "\e8af";
  }

  .icon-add:before {
    content: "\e62c";
  }

  .icon-birth::before{
    content: "\e628";
  }

  .icon-death::before{
    content: "\e694";
  }

  .icon-event::before{
    content: "\e602";
  }

  .icon-wechat::before{
    content: "\e620";
  }

  .icon-add-friends::before{
    content: "\e635";
  }

  .icon-clock::before{
    content: "\e7d9";
  }

  .icon-mouse {
    background-image: url('@/static/icons/mouse.png');
  }
  .icon-cattle {
    background-image: url('@/static/icons/cattle.png');
  }
  .icon-tiger {
    background-image: url('@/static/icons/tiger.png');
  }
  .icon-rabitt {
    background-image: url('@/static/icons/rabitt.png');
  }
  .icon-dragon {
    background-image: url('@/static/icons/dragon.png');
  }
  .icon-snake {
    background-image: url('@/static/icons/snake.png');
  }
  .icon-horse {
    background-image: url('@/static/icons/horse.png');
  }
  .icon-sheep {
    background-image: url('@/static/icons/sheep.png');
  }
  .icon-monkey {
    background-image: url('@/static/icons/monkey.png');
  }
  .icon-chicken {
    background-image: url('@/static/icons/chicken.png');
  }
  .icon-dog {
    background-image: url('@/static/icons/dog.png');
  }
  .icon-pig {
    background-image: url('@/static/icons/pig.png');
  }